# Environment: dev or prod
ENVIRONMENT=dev

# Security (Required)
# GENERATE THESE WITH: openssl rand -hex 32
SECRET_KEY=yoursecretkeyhere
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Database URLs
DEV_DATABASE_URL=sqlite+aiosqlite:///./cashctrl.db
PROD_DATABASE_URL=postgresql+asyncpg://user:password@host:port/dbname?sslmode=require

# Redis / Celery
REDIS_URL=redis://localhost:6379/0
